.movies-card-list {
    padding: 70px 0 30px;
}

.movies-card-list__elements {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 24px;
    row-gap: 30px;
}

@media screen and (max-width: 769px) {
    .movies-card-list__elements {
        gap: 37px 30px;
    }
}

@media screen and (max-width: 480px) {
    .movies-card-list {
        padding-top: 40px;
    }

    .movies-card-list__elements {
        row-gap: 16px;
    }
}