.movies-card {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.movies-card__image {
    max-width: 100%;
    height: calc(100% - 68px);
    font-size: 11px;
    line-height: normal;
    object-fit: cover;
}

.movies-card__description {
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movies-card-wrapper {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.movies-card__name {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    /* Inter Medium */
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.card-movies__duration {
    margin: 0;
    color: black;
    /* Inter Regular */
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.movies-card__button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.movies-card__button:hover {
    transition: opacity 0.2s;
    opacity: 0.8
}

.movies-card__button_unsaved {
    background-image: url('../../images/unsaved.svg');
}

.movies-card__button_saved {
    background-image: url('../../images/saved.svg');
}

.movies-card__button_delete {
    background-image: url('../../images/card-delete.svg');
}