.movies {
    padding: 0 70px;
}

.movies_saved-movies {
    padding-bottom: 140px;
}

.movies__more {
    width: 100%;
    padding: 11px 0 9px;
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    background-color: #F9F9F9;
    color: black;
    cursor: pointer;
    /* Inter Medium */
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.movies__more:hover {
    transition: opacity 0.2s;
    opacity: 0.8;
}

@media screen and (max-width: 769px) {
    .movies {
        padding: 0 30px;
    }
}


@media screen and (max-width: 480px) {
    .movies {
        padding: 0 10px;
    }
}