.profile {
    max-width: 410px;
    padding: 74px 0 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.profile__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.profile__form {
    width: 100%;
    padding: 123px 0 204px;
}

.profile__form-input {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.profile__form-input:last-of-type {
    padding-top: 17px;
    border-bottom: none
}

.profile__text {
    padding: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}

.profile__input {
    text-align: right;
    border: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.profile__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.profile__edit-button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.profile__edit-button:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

.profile__exit-button {
    text-decoration: none;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.profile__exit-button:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}