.profile {
    max-width: 410px;
    padding: 74px 0 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.profile__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.profile__form {
    width: 100%;
    padding: 123px 0 0;
}

.profile__form-input {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.profile__form-input:last-of-type {
    padding-top: 17px;
    border-bottom: none
}

.profile__text {
    padding: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}

.profile__input {
    text-align: right;
    border: none;
    outline: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    background-color: transparent;
}

.profile__wrapper {
    margin-top: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.profile__edit-button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.profile__edit-button:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

.profile__exit-button {
    text-decoration: none;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.profile__exit-button:hover {
    transition: opacity 0.2s;
    opacity: 0.7;
}

.profile__submit-edit {
    margin-top: 189px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.profile__submit-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #FF6838;
    text-align: center;
    cursor: pointer;
    font-weight: 500px;
    font-size: 14px;
    line-height: 17px;
}

.profile__submit-error {
    text-align: center;
    color: #EE3465;
    font-size: 11px;
    line-height: 13.3px;
}

.profile__submit-button:hover {
    transition: opacity 0.2s;
    opacity: 0.8;
}

@media screen and (max-width: 769px) {
    .profile {
        padding-top: 236px;
    }

    .profile__form {
        padding-top: 96px;
    }

    .profile__wrapper {
        margin-top: 210px;
    }

    .profile__submit-edit {
        margin-top: 179px;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        padding-top: 70px;
        max-width: 260px;
    }

    .profile__wrapper {
        margin-top: 379px;
    }

    .profile__submit-edit {
        margin-top: 348px;
    }

}