.form__container {
    max-width: 396px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.form__logo-link {
    font-size: 0;
}

.form__title {
    margin-top: 40px;
    margin-bottom: 40px;
    /* Inter Medium */
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.form__label {
    margin: 0 0 10px;
    color: #A0A0A0;
    /* Inter Regular */
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.form__input {
    max-width: 100%;
    width: 100%;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #F9F9F9;
    /* Inter Regular */
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.form__input-error {
    max-width: 100%;
    margin: 10px 0 0;
    min-height: 10px;
    display: block;
    /* Inter Regular */
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.form__submit-button {
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background-color: #FF6838;
    border: none;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    /* Inter Medium */
    font-weight: 500px;
    font-size: 14px;
    line-height: 17px;
}

.form__submit-button_register {
    margin-top: 69px;
}

.form__submit-button_login {
    margin-top: 159px;
}

.form__submit-button:hover {
    transition: opacity 0.2s;
    opacity: 0.8;
}

.form__text {
    margin: 16px auto;
    padding: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.form__link {
    color: #FF6838;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__link:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

@media screen and (max-width: 769px) {
    .form__container {
        padding: 0;
        justify-content: center;
    }
}


@media screen and (max-width: 480px) {
    .form__container {
        align-items: center;
        padding-top: 26px;
        max-width: 260px;
    }

    .form__title {
        text-align: center;
    }

    .form__submit-button_register {
        margin-top: 157px;
    }

    .form__submit-button_login {
        margin-top: 247px;
    }

    .form__submit-button {
        font-size: 12px;
        line-height: 14.52px;
    }

    .form__text {
        font-size: 12px;
        line-height: 14.52px;
    }
}