.portfolio {
    padding: 0 70px 106px;
}

.portfolio__title {
    margin: 0 0 50px;
    color: #A0A0A0;
    /* Inter Regular */
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.portfolio__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.portfolio__item {
    margin-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}

.portfolio__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.portfolio__link:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

.portfolio__subtitle {
    margin: 0;
    padding-bottom: 19px;
    /* Inter Regular */
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1.2px;
    ;
}

.portfolio__arrow {
    margin: 0;
    padding-bottom: 9px;
    /* Inter Regular */
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -1.12px;
    ;
}

.portfolio__arrow:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

@media screen and (max-width: 769px) {
    .portfolio {
        padding: 0 50px 71px;
    }

    .portfolio__subtitle {
        font-size: 28px;
    }
}


@media screen and (max-width: 480px) {
    .portfolio {
        padding: 0 14px 51px;
    }

    .portfolio__title {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__subtitle {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__arrow {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}