.promo {
    padding: 75px 70px 75px;
    background-color: #465DFF;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.promo__logo {
    width: 310px;
    height: 304px;
    order: 2;
}

.promo__wrapper {
    order: 1;
}

.promo__title {
    max-width: 640px;
    margin: 0 0 36px;
    padding: 0;
    /* Inter Regular */
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

.promo__description {
    max-width: 310px;
    margin-bottom: 146px;
    padding: 0;
    /* Inter Regular */
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    opacity: 0.5;
}

.promo__about-link {
    width: 127px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    /* Inter Medium */
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.promo__about-link:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

@media screen and (max-width: 769px) {
    .promo {
        flex-direction: column;
        padding: 140px 0 76px;
        align-items: center;
    }

    .promo__wrapper {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo__logo {
        order: 1;
        margin-bottom: 48px;
    }

    .promo__title {
        max-width: 680px;
        margin-bottom: 22px;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
    }

    .promo__description {
        max-width: 260px;
        margin-top: 0;
        margin-bottom: 92px;
        text-align: center;
    }
}


@media screen and (max-width: 480px) {

}