.navigation {
    display: flex;
    position: relative;
    width: calc((1058 / 1140) * 100%);   
    background-color: transparent;
}

.navigation__burger {
    width: 44px;
    height: 44px;
    background-image: url('../../images/burger-icon.svg');
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.navigation__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.navigation__overlay_visiable {
    visibility: visible;
    opacity: 1;
}

.navigation__sidebar {
    width: 520px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    overflow: auto;
    background: #FFFFFF;
    transition: transform 300ms linear;
}

.navigation__sidebar_in {
    transform: translateX(0);
}


.navigation__sidebar_out {
    transform: translateX(520px);
}

.burger__close-button {
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 22px;
    right: 22px;
    background-image: url('../../images/burger-close.svg');
    border: none;
}


