.navigation {
    display: flex;
    position: relative;
    width: calc((1058 / 1140) * 100%);
    background-color: transparent;
}

.navigation__burger {
    width: 44px;
    height: 44px;
    background-image: url('../../images/burger-icon.svg');
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.navigation__sidebar {
    width: 520px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    overflow: auto;
    background: #FFFFFF;
    transition: transform 300ms linear;
    display: flex;
    justify-content: center;
}

.navigation__sidebar_in {
    transform: translateX(0);
}


.navigation__sidebar_out {
    transform: translateX(520px);
}

@media screen and (max-width: 769px) {
    .navigation {
        width: 44px;
    }
}


@media screen and (max-width: 480px) {
    .header {
        padding: 0 14px;
    }
}