.techs {
    margin: 0;
    padding: 100px 70px;
    background-color: #F5F5F5;
}

.techs__title {
    margin: 0 0 90px;
    padding-bottom: 23px;
    border-bottom: 1px solid black;
    /* Inter Regular */
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.techs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__subtitle {
    margin: 0 0 26px;
    /* Inter Regular */
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -4%;
}

.techs__description {
    max-width: 460px;
    margin: 0 0 100px;
    text-align: center;
    /* Inter Regular */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.techs__items {
    margin: 0;
    padding: 0;
    max-width: 690px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 10px;
    justify-content: space-between;
    list-style: none;
}

.techs__item {
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #E8E8E8;
}

.techs__item-text {
    text-align: center;
    /* Inter Regular */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 769px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__title {
        margin-bottom: 80px;
    }

    .techs__subtitle {
        margin-bottom: 22px;
    }

    .about-project__description {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__items {
        grid-template-columns: repeat(auto-fit, 84px);
    }

    .techs__item {
        width: 84px;
        height: 57px;
    }

    .techs__item-text {
        font-size: 12px;
        line-height: 14.52px;
    }

}


@media screen and (max-width: 480px) {}