.destop-menu__container  {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.desktop-menu__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.desktop-menu__link {
    text-decoration: none;
    color: black;
    /* Inter Reqular */
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.desktop-menu__link_main {
    color: white;
}

.desktop-menu__link:hover {
    transition: opacity 0.2s;
    opacity: 0.7
}

.desktop-menu__link_active {
    /* Inter Medium */
    font-weight: 500;
}